* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.card {
    margin-bottom: 2rem;
}

#box_colored {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
    background-color: black;
    background-color: rgb(20, 20, 20);

}

.bottoni {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px
}

.checked {
    text-decoration: line-through;
}